* { 
    margin:0%;
    
}

/* Base-color */

.base-color{
    width:100%;
    background-color: rgb(16, 188, 185);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Logo */

.logo{
    padding: 10px;
    width:20%;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    font-size: 15px;
    color:rgb(197, 235, 233);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

/* Navigation */

.header-links{
    
    display: flex;
    flex-wrap: wrap;

}

li{
 padding-right: 20px;
}

/* List-Contents */

.list-items {
    color: black;
    width:100%;
    height:60px;
    font-size: 20px;
    font-family: Candara;
     display:flex;
    justify-content:space-between;
    list-style-type: none;
    line-height: 50px;
    float:right;
    
}

a{
    color:rgb(197, 235, 233) ;
    text-decoration: none;
}

/* Banner */

.banner{

    width: 100%;
    height:800px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/009/626/non_2x/using-credit-for-shopping-online-on-laptop-vector.jpg' );
    background-size:100% 100% ;
    transition:remove;
    transition-duration: 1s;
    background-color: rgba(16, 65, 100, 0.37);
    display: flex;
    flex-direction: row;
    align-items: center; 
}



/* Shop Now! button */

.btn{
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0px;
    
}
.btn:hover{
    background-color: #ff9677;
}

/* Products */


.our-products{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#156b9c;
    display: flex;   
    justify-content: center;

}

.products-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;


}
.product-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products{
    width:60%;
    background-color:whitesmoke;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 30px 0px 30px 0px;
   
}

.product-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor:crosshair;
}

.product-img>img{
    width: 100%;
    transition: 0.5s;
}

.product-img>img:hover {
    transform: scale(1.3);
}

.product-detail{
    width: 100%;
    height:250px;
    padding:10px;    
}

.product-detail>h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:20px;
}

.product-detail>h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    line-height: 50px;
    font-size:18px;
}

.product-detail>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
}

/* About Us */

.about-us{
    width:100%;
    height:auto;
    background-color:#5e99b991;
    display: flex;
    justify-content: space-between;
}

.about-container{
    width:100%;    
    background-color:rgba(102, 192, 217, 0.135);
    border-radius: 30px 0px 30px 0px;
    margin: 50px;
    padding:10px;
    
}


.about-container>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    
}

.about-pic{
    border-radius: 30px 0px 30px 0px;
    margin: 20px;
}

/* Footer */

.footer{
    width:100%;
    height: auto;
    color: rgb(197, 235, 233);
    background-color: #156b9c;
    display: flex;
    justify-content: space-between;
}

.contact{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 20px;
}

.social-media{
    margin:20px;
    display: flex;
}

.Social-media-links{
    line-height: 50px;
    list-style-type:none;
}

/* For Mobiles */

@media (max-width:450px) {

    .base-color{
        width:100%;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width:100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }    

    
    
    .header-links{
        width:100%;

    }

   
    .list-items{
        width:100%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column ;
        font-size: 20px;
        box-shadow: 0 0 1px gray;
    }

    .banner{
        width: auto;
        height: 380px;
        
        background-image: url('https://media.istockphoto.com/vectors/smartphone-online-shopping-concepts-vector-id1213907347?b=1&k=20&m=1213907347&s=170667a&w=0&h=SrZH17yrACI7IPcUjlnT_hxSRGX5CSoN9FxY-Wm00jM=');
    }

    .banner-details{
        width: 100%;
        margin: 0%;
        color: white;
        font-weight: 300;
    }

    .banner-details>h1{
        color: white;
    }


    .our-products{
        width:100%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .products-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }    

   


   .about-us{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: center;
       justify-content: center;
    
   }

   .about-pic{
       display: flex;
       flex-direction: column;
       width:90%;
       height:400px;
       
   }

   .footer {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .Social-media-links {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

   }   
